In [1]:
import os
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#main_df = pd.read_csv('filtered.csv')
cast_df = pd.read_csv('name.basics.tsv', sep='\t')

In [3]:
cast_df.dropna(inplace=True)

In [4]:
cast_df = cast_df[cast_df.primaryProfession.str.contains('actor')]

In [5]:
main_df = pd.read_csv('filtered.csv')
main_df.drop_duplicates('tconst', keep='last', inplace=True)

In [6]:
#main_df['actors'] = ''
for i in tqdm(main_df.tconst.index):
    if str(main_df.loc[i, 'actors']) == '' or str(main_df.loc[i, 'actors']).lower()=='nan':
        d = cast_df[cast_df.knownForTitles.str.contains(main_df.loc[i, 'tconst'])]
        if d.shape[0]>0:
            main_df.loc[i, 'actors'] = ''
            main_df.loc[i, 'actors'] += ','.join(d.primaryName.tolist())

HBox(children=(FloatProgress(value=0.0, max=15378.0), HTML(value='')))

In [7]:
main_df

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,actors
0,tt0044008,20,Scrooge,CA,en,imdbDisplay,\N,0,8.1,19427,movie,A Christmas Carol,Scrooge,0,1951,86,"Drama,Fantasy","John Charlesworth,George Cole,Francis De Wolff..."
1,tt0046949,3,The Egyptian,CA,en,imdbDisplay,\N,0,6.6,3502,movie,The Egyptian,The Egyptian,0,1954,139,"Biography,Drama,History","Alfredo Berumen,Mario Bramucci,Michael Cirillo..."
2,tt0054152,9,Our Man in Havana,CA,en,imdbDisplay,\N,0,7.2,4784,movie,Our Man in Havana,Our Man in Havana,0,1959,103,"Comedy,Crime,Drama","Paul Rogers,Gerik Schjelderup,Reginald Holder"
3,tt0054412,15,Tunes of Glory,CA,en,imdbDisplay,\N,0,7.5,3549,movie,Tunes of Glory,Tunes of Glory,0,1960,107,Drama,"Robert Arnold,Bryan Hulme,Duncan Macrae,John M..."
4,tt0057261,24,Lord of the Flies,CA,en,imdbDisplay,\N,0,6.9,17277,movie,Lord of the Flies,Lord of the Flies,0,1963,92,"Adventure,Drama,Thriller","Roger Allan,James Aubrey,David Brunjes,Tom Cha..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15373,tt7019842,7,96,IN,en,imdbDisplay,\N,0,8.6,17647,movie,96,96,0,2018,158,"Drama,Romance","Janakaraj,Adithya Bhaskar,Gowthamraj,Kavithala..."
15374,tt7645780,5,The Wedding Guest,IN,en,imdbDisplay,\N,0,5.7,3632,movie,The Wedding Guest,The Wedding Guest,0,2018,96,Thriller,"Nish Nathwani,Marc Richardson,Meherbaan Singh"
15375,tt7919680,7,Karwaan,IN,en,imdbDisplay,\N,0,7.5,12634,movie,Karwaan,Karwaan,0,2018,114,"Comedy,Drama","Habib Azmi,Ramashrit Joshi,Imaaduddin Shah,San..."
15376,tt8563452,1,Crypto,CA,en,imdbDisplay,\N,0,5.3,3188,movie,Crypto,Crypto,0,2019,105,"Crime,Drama,Thriller","Jordan Yale Levine,Whitney Engstrom,Zac Weinst..."
15377,tt8972256,6,Greed,IN,en,imdbDisplay,\N,0,5.7,3903,movie,Greed,Greed,0,2019,104,"Comedy,Drama","Joe Tucker,Michel Alexandre Gonzalez,Terry Jay..."

In [8]:
main_df.to_csv('filtered.csv', index=False)