In [1]:
import os
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv('filtered.csv')
df

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,actors
0,tt0044008,20,Scrooge,CA,en,imdbDisplay,\N,0,8.1,19427,movie,A Christmas Carol,Scrooge,0,1951,86,"Drama,Fantasy","John Charlesworth,George Cole,Francis De Wolff..."
1,tt0046949,3,The Egyptian,CA,en,imdbDisplay,\N,0,6.6,3502,movie,The Egyptian,The Egyptian,0,1954,139,"Biography,Drama,History","Alfredo Berumen,Mario Bramucci,Michael Cirillo..."
2,tt0054152,9,Our Man in Havana,CA,en,imdbDisplay,\N,0,7.2,4784,movie,Our Man in Havana,Our Man in Havana,0,1959,103,"Comedy,Crime,Drama","Paul Rogers,Gerik Schjelderup,Reginald Holder"
3,tt0054412,15,Tunes of Glory,CA,en,imdbDisplay,\N,0,7.5,3549,movie,Tunes of Glory,Tunes of Glory,0,1960,107,Drama,"Robert Arnold,Bryan Hulme,Duncan Macrae,John M..."
4,tt0057261,24,Lord of the Flies,CA,en,imdbDisplay,\N,0,6.9,17277,movie,Lord of the Flies,Lord of the Flies,0,1963,92,"Adventure,Drama,Thriller","Roger Allan,James Aubrey,David Brunjes,Tom Cha..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15373,tt7019842,7,96,IN,en,imdbDisplay,\N,0,8.6,17647,movie,96,96,0,2018,158,"Drama,Romance","Janakaraj,Adithya Bhaskar,Gowthamraj,Kavithala..."
15374,tt7645780,5,The Wedding Guest,IN,en,imdbDisplay,\N,0,5.7,3632,movie,The Wedding Guest,The Wedding Guest,0,2018,96,Thriller,"Nish Nathwani,Marc Richardson,Meherbaan Singh"
15375,tt7919680,7,Karwaan,IN,en,imdbDisplay,\N,0,7.5,12634,movie,Karwaan,Karwaan,0,2018,114,"Comedy,Drama","Habib Azmi,Ramashrit Joshi,Imaaduddin Shah,San..."
15376,tt8563452,1,Crypto,CA,en,imdbDisplay,\N,0,5.3,3188,movie,Crypto,Crypto,0,2019,105,"Crime,Drama,Thriller","Jordan Yale Levine,Whitney Engstrom,Zac Weinst..."
15377,tt8972256,6,Greed,IN,en,imdbDisplay,\N,0,5.7,3903,movie,Greed,Greed,0,2019,104,"Comedy,Drama","Joe Tucker,Michel Alexandre Gonzalez,Terry Jay..."

In [3]:
df.drop(['ordering', 'language', 'types', 'isOriginalTitle', 
         'primaryTitle', 'originalTitle', 'attributes', 'titleType'], 
        axis=1, inplace=True)
df.head(3)

,tconst,title,region,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,actors
0,tt0044008,Scrooge,CA,8.1,19427,0,1951,86,"Drama,Fantasy","John Charlesworth,George Cole,Francis De Wolff..."
1,tt0046949,The Egyptian,CA,6.6,3502,0,1954,139,"Biography,Drama,History","Alfredo Berumen,Mario Bramucci,Michael Cirillo..."
2,tt0054152,Our Man in Havana,CA,7.2,4784,0,1959,103,"Comedy,Crime,Drama","Paul Rogers,Gerik Schjelderup,Reginald Holder"

In [4]:
df.actors.isna().sum()

222

In [5]:
df[df['actors'].isna()]

,tconst,title,region,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,actors
50,tt1355640,The Shock Doctrine,CA,7.6,2737,0,2009,79,"Documentary,History",NaN
80,tt0054745,Chronicle of a Summer,XWW,7.6,2519,0,1961,85,Documentary,NaN
82,tt0062120,The Little Bather,XWW,6.7,3658,0,1968,96,Comedy,NaN
235,tt0055505,Taste of Fear,IE,7.4,3917,0,1961,81,"Horror,Thriller",NaN
245,tt0092068,Evening Dress,XWW,7.1,2599,0,1986,84,"Comedy,Crime,Drama",NaN
...,...,...,...,...,...,...,...,...,...,...
15121,tt3516378,Miss Granny,XWW,7.3,2740,0,2014,124,"Comedy,Fantasy,Music",NaN
15135,tt7207238,Jane: In the Shadow of Man,XWW,7.8,4459,0,2017,90,"Biography,Documentary",NaN
15147,tt0070825,The Train Robbers,CA,6.5,5254,0,1973,92,"Action,Comedy,Romance",NaN
15226,tt0066356,14 Up,XWW,8.0,2711,0,1970,52,"Biography,Documentary",NaN
15261,tt0389074,Kim Possible: Time Travel,JP,7.0,3928,0,2003,66,"Adventure,Animation,Comedy",NaN

In [6]:
df.isna().sum()
df.dropna(inplace=True)

tconst              0
title               0
region              0
averageRating       0
numVotes            0
isAdult             0
startYear           0
runtimeMinutes      0
genres              0
actors            222
dtype: int64

In [7]:
df.shape

(15156, 10)

In [8]:
from nltk.corpus import stopwords
from nltk.probability import FreqDist
import re
stop_words = set(stopwords.words('english'))
other_sw = ['arent', 'amnt', 'isnt', 'youre', 
            'im', 'shes', 'hes', 'were', 'theyre', 
            'ive', 'hed', 'shed', 'weve', 'theyve']
for w in other_sw:
    stop_words.add(w)

fdist = FreqDist()

for title in tqdm(df.title):
    string = re.sub(r'[^A-Za-z\s]', '', title)
    toks = string.split(' ')
    for tok in toks:
        if tok.lower() not in stop_words and len(tok)>2:
            fdist[tok.lower()] += 1
            
fdist.most_common(20)

HBox(children=(FloatProgress(value=0.0, max=15156.0), HTML(value='')))

[('man', 219),
 ('love', 180),
 ('movie', 123),
 ('night', 118),
 ('last', 116),
 ('dead', 96),
 ('life', 91),
 ('story', 87),
 ('black', 86),
 ('girl', 85),
 ('day', 83),
 ('time', 83),
 ('house', 80),
 ('world', 79),
 ('little', 78),
 ('death', 73),
 ('one', 71),
 ('big', 70),
 ('dark', 69),
 ('king', 65)]

In [9]:
# lets hope genres will be enough :)
# sparsity will be huge
tokens = []
for word, fr in fdist.items():
    if fr>4:
        tokens.append(word)
len(tokens)
sorted(tokens)[:20]
sorted(tokens)[-20:]

1155

['academy',
 'accidental',
 'ace',
 'across',
 'act',
 'action',
 'activity',
 'adventure',
 'adventures',
 'affair',
 'afternoon',
 'age',
 'agent',
 'air',
 'airport',
 'alex',
 'alexander',
 'ali',
 'alice',
 'alien']

['woods',
 'words',
 'work',
 'world',
 'worlds',
 'would',
 'wrong',
 'xmen',
 'year',
 'years',
 'yellow',
 'yes',
 'yesterday',
 'york',
 'young',
 'youth',
 'zero',
 'zombie',
 'zombies',
 'zone']

In [10]:
vec_df = df.copy()

In [11]:
vec_df['imdbUrl'] = vec_df['tconst'].apply(lambda x: 'https://www.imdb.com/title/'+x)

In [12]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

mapping = pd.Series(vec_df.reset_index().index, index = vec_df['title'])
X = vec_df.genres.str.split(',', expand=True)[0]
X = pd.get_dummies(X)
X_reg = pd.get_dummies(vec_df.region)
X = pd.concat([X, X_reg], axis=1)
X = pd.concat([X, vec_df.startYear/2020], axis=1)
X = pd.concat([X, vec_df.averageRating/10], axis=1)
X = pd.concat([X, vec_df.isAdult], axis=1)
X = pd.concat([X, vec_df.runtimeMinutes/vec_df.runtimeMinutes.max()], axis=1)
similarity_matrix = cosine_similarity(X, X) #linear_kernel(X, X)

In [13]:
type(similarity_matrix)

numpy.ndarray

In [14]:
mapping

title
Scrooge                  0
The Egyptian             1
Our Man in Havana        2
Tunes of Glory           3
Lord of the Flies        4
                     ...
96                   15151
The Wedding Guest    15152
Karwaan              15153
Crypto               15154
Greed                15155
Length: 15156, dtype: int64

In [15]:
def get_rec(title):
    movie_index = mapping[title]
    similarity_score = list(enumerate(similarity_matrix[movie_index]))
    similarity_score = sorted(similarity_score, key=lambda x: x[1], reverse=True)
    similarity_score = similarity_score[1:10]
    #print(similarity_score)
    movie_indices = [i[0] for i in similarity_score]
    return (vec_df.iloc[movie_indices])

get_rec('Crypto')

,tconst,title,region,averageRating,numVotes,isAdult,startYear,runtimeMinutes,genres,actors,imdbUrl
3879,tt3658772,Misconduct,CA,5.3,14880,0,2016,106,"Crime,Drama,Mystery","Eugene Brezany,Darrel Casalino,Little Freddie ...",https://www.imdb.com/title/tt3658772
7356,tt0445965,Morbide,CA,5.3,5550,0,2005,101,"Crime,Horror,Thriller","Peter Carrete,Patrick Thompson,Brycen Horne,Ad...",https://www.imdb.com/title/tt0445965
4199,tt7558302,Lying and Stealing,CA,5.3,3995,0,2019,100,"Crime,Drama","Martin J. Riddell,Orion McCabe,Rod Chaouqi,Ada...",https://www.imdb.com/title/tt7558302
3612,tt2180994,A Good Marriage,CA,5.2,10180,0,2014,102,"Crime,Drama,Thriller","Theo Stockman,Rafe Terrizzi,Jason Testa,Darren...",https://www.imdb.com/title/tt2180994
8824,tt1440732,Bel Ami,CA,5.4,17782,0,2012,102,"Crime,Drama,History","James Lance,Timothy Walker,Chris Piper,BalÃ¡zs ...",https://www.imdb.com/title/tt1440732
4155,tt0120683,Gloria,CA,5.2,5391,0,1999,108,"Crime,Drama,Thriller","Teddy Atlas,Don Billett,Lou Cantres,Jerry Dean...",https://www.imdb.com/title/tt0120683
2518,tt2409818,Open Windows,CA,5.2,13522,0,2014,100,"Crime,Mystery,Thriller","IvÃ¡n GonzÃ¡lez,Adam Quintero,Alejandro PÃ©rez Bl...",https://www.imdb.com/title/tt2409818
726,tt5792656,Running with the Devil,CA,5.4,5893,0,2019,100,"Crime,Drama,Thriller","Matthias Grundmann,Levi Higgins,Arcenio Valder...",https://www.imdb.com/title/tt5792656
8658,tt0112443,Bad Company,CA,5.4,2682,0,1995,108,"Crime,Drama,Thriller","Jochen Kowalski,Gene Norman,Marcus Youssef",https://www.imdb.com/title/tt0112443

In [16]:
import pickle
with open('similarity_matrix.pkl','wb') as f:
    pickle.dump(similarity_matrix, f)

In [29]:
vec_df.to_csv('query_df.csv', index=False)

In [30]:
np.save('similarity_matrix.npy', similarity_matrix)

In [31]:
np.load('similarity_matrix.npy')

array([[1.        , 0.71281798, 0.71828166, ..., 0.44659544, 0.701312  ,
        0.41993437],
       [0.71281798, 1.        , 0.71159812, ..., 0.43345055, 0.70217121,
        0.41251551],
       [0.71828166, 0.71159812, 1.        , ..., 0.71916935, 0.70234243,
        0.70608263],
       ...,
       [0.44659544, 0.43345055, 0.71916935, ..., 1.        , 0.41785402,
        0.99592095],
       [0.701312  , 0.70217121, 0.70234243, ..., 0.41785402, 1.        ,
        0.40310735],
       [0.41993437, 0.41251551, 0.70608263, ..., 0.99592095, 0.40310735,
        1.        ]])

### SWEET!